@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.card-block {
	.panel-heading {
		padding: 5px 10px;

		.card-title {
			// float: left;
			margin: 0;
			padding: 0 7px;
			h4 {
				margin: 0;
			}
		}		
		.card-navbar {
			padding: 0 7px;
			// float: right;
			// width: 4em;
			text-align: right;
			i {
				padding: 0 0.1em;
				cursor: pointer;
			}
			.fa-edit {
				color: @brand-primary;
			}
			.fa-remove {
				color: @brand-danger;
			}
		}
	}
	.panel-body {
		.item-quantity {
			padding: 0 0 0 7px;

		}
		.item-date {
			padding: 0;
		}
	}
}

.component-selector-label {
	font-weight: bold;
	font-size: 2em;
}

.component-selector {
	font-size: 2em;
	padding: 0;
	margin: 0;
}

#add-item-button {
	position: fixed;
	top: 1.5em;
	right: 0.2em;
	cursor: pointer;
	color: @brand-success;
}