@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.card-block {
	border: thin solid #808080;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em 0.5em #000;
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
	width: 15em;
	position: relative;
	.card-header {
		clear: both;

		.card-title {
			float: left;
			margin: 0;
		}		
		.card-navbar {
			float: right;
			i {
				padding: 0 0.2em;
			}
			.fa-edit {
				color: @brand-primary;
			}
			.fa-remove {
				color: @brand-danger;
			}
		}
	}

	.card-text {
		border-top: 1px black solid;
		clear: both;
	}
}

.component-selector-label {
	font-weight: bold;
	font-size: 2em;
}

.component-selector {
	font-size: 2em;
}